* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Century Gothic;
    background-image: url(images/bg.jpg);

}


header {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.logo {
    padding: 30px;
    padding-right: 560px;

}

ul {
    list-style: none;
    display: flex;
}

li {
    padding: 20px;
    padding-top: 40px;
}

li a {
    color: black;
    text-decoration: none;
}

:hover.links {
    color: rgb(255, 77, 0);
}

#active {
    color: rgb(255, 77, 0);
}

section {
    display: flex;
    margin-top: 35px;
}

.left {
    width: 35%;
    margin-left: 250px;
}

.left h4 {
    margin: 15px;
    margin-left: 15px;
}

.right {
    width: 60%;

}

.recorder {
    width: 30.5%;
    margin-top: 12px;
}

.upload {
    color: rgb(255, 77, 0);
    margin-left: 15px;
    margin-right: 130px;
    margin-top: 5px;
    border: none;
    background-color: white;
}

#texthere {
    width: 73%;
    height: 105%;
    padding: 8px;
    border-radius: 5px;
    font-size: 15px;
    border-width: 1.3px;
}

.copy {
    width: 4.5%;
    margin-left: 420px;
    margin-right: 20px;
}

.download {
    width: 4.5%;

}