* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Century Gothic;
    background-image: url(images/bg.jpg);
}

.rightimg {
    width: 100%;
}

header {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.logo {
    padding: 30px;
    padding-right: 560px;

}

ul {
    list-style: none;
    display: flex;
}

li {
    padding: 20px;
    padding-top: 40px;
}

li a {
    color: black;
    text-decoration: none;
}

:hover.links {
    color: rgb(255, 77, 0);
}

#active {
    color: rgb(255, 77, 0);
}

section {
    display: flex;
    justify-content: space-between;
}

.left {
    width: 47%;
    margin: 30px;
    margin-left: 50px;
}

.right {
    width: 47%;
    margin: 30px;
    margin-right: 50px;
}

.title1 {
    font-size: 38px;
    padding: 20px;
    color: #103037;
}

.title2 {
    font-size: 23px;
    padding: 20px;
    color: #103037;
}

.txt {
    padding-left: 20px;
    padding-bottom: 25px;
    color: #103037;
}


button {
    margin-left: 20px;
    padding: 6px;
    background-color: rgb(255, 77, 0);
    color: white;
    border: solid rgb(255, 77, 0);
    border-radius: 5px;
}